@{
    ViewData["Title"] = "Home Page";
}

@*Created by Kondabolu*@
<h1 class="display-4">Welcome</h1>
@*This page just displays the Overall intent and deatils of the Application *@
<p> This is a full-fledged ASP.NET MVC web application with all ingredients as a precursor to the entity framework.</p>
<p>This application has three controllers, six view and with a shared layout and five models. In addition, there are models that have constructors which deserve your special attention and uderstanding.</p>