@*
    Created by Kondabolu
*@
@{
    ViewData["Title"] = "Buy";
}
@model BuyTicketsModel
<form asp-action="Confirmation" asp-controller="Cart" method="Post">
    <div asp-validation-summary="All"></div>
    <table>
        <tr>
            @*Display the name and read-only field *@
            <td Class"Text-dark"> Event:</td>
            <td><input asp-for="EventName" value="@Model.EventName" readonly /></td>
        </tr>
        <tr>
            @*Display the price and read-only field *@
            <td Class"Text-dark"> TicketPrice:</td>
            <td><input asp-for="Ticketprice" value="@Model.Ticketprice" readonly /></td>
        </tr>
        <tr>
            <td Class"Text-dark"> Email:</td>
            <td><input asp-for="Email" /></td>
        </tr>
        <tr>
            <td Class"Text-dark"> Number of tickets:</td>
            <td><input asp-for="NumberOfTickets" /></td>
        </tr>
        <tr>
            @*Checkbox for senior discount*@
            <td Class"Text-dark"> Check if Applicable:</td>
            <td>
                <label asp-for="SeniorDiscount"></label>
            <input asp-for="SeniorDiscount"/>
        </td>
        </tr>
        <tr>
            <td class="text-dark">Select Delivery Option</td>
            <td>
                @*Dropdown for selecting the delivery mode*@
                <label asp-for="DeliveryMode"></label>
                <select asp-for="DeliveryMode" asp-items="@Model.DeliveryOptions"></select>
            </td>

        </tr>
        <tr>
            <td><input type="submit" value="Pruchase Ticket" /></td>
        </tr>
    </table>
</form>
